@import "./variables.scss";

.sideText {
    color: $text-muted;

    @media screen {
        padding-left: 1rem;
    }
}


.articleList {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-bottom: 1em;
        break-inside: avoid;
        display: flex;

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    p {
        margin-bottom: 0.2em;
    }
}

.articleListTitle {
    @include heading-font;
    font-size: $list-heading-font-size;
    margin-bottom: 0 !important;
    padding-bottom: 0;

    a {
        color: $link-color;
    }

    a:hover {
        color: $link-hover-color;
    }
}

.articleListSubtitle {
    @include sub-title;
}

.articleListImage {
    flex-direction: column;
    margin-right: $spacer;
    margin-top: $spacer * 0.2;

    @include media-breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}

.articleListSummary {
    // color: $text-muted;
    line-height: 1.5;
    margin-bottom: 0;
    padding-bottom: 0;
}

.articleBody {
    margin-bottom: 1em;
}