@import './variables.scss';
@import "~bootstrap/scss/badge";

@import './variables.scss';

// Big blue banner at the top. Also known as a hero section.
.claimBanner {
  background-color: $theme-blue-dark;
  background-image: url('https://assets.opensanctions.org/images/nura/banner-big.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 7em;
  padding-bottom: 3em;
}

.claimLink {
  color: white;

  &:hover {
      color: shift-color(white, $link-shade-percentage);
  }
}

.claim {
  @include heading-font;
  color: white;
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: $heading-weight;
}

.subClaim {
  margin-bottom: 1em;
  font-size: 1.2em;
  color: $gray-100;
}

.claimSearch {
    input[type=search] {
        border: 0;
    }
}

.sectionTitle {
    margin-bottom: 1.5 * $spacer;
    margin-top: 2.5 * $spacer !important;
}

.statsBanner {
    @include sub-title;
    font-size: $default-font-size * 0.9;
    background-color: $blue-900;
    color: white;
    padding-top: $spacer * 0.1;
    padding-bottom: $spacer * 0.2;
}

.stats {
    margin-top: $spacer * 0.2;
    margin-bottom: $spacer * 0.2;

    a {
        color: white;
        text-decoration: underline;
    }

    :global(.badge) {
        color: white;
        font-size: $default-font-size * 0.7;
        background-color: shift-color($primary, 0%) !important;
        font-weight: $heading-weight;
    }
}

.commercialBanner {
    // background-color: $blue-200;
    // background-color: $blue-600;
    @include bg-gradient;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 3em;

    :global(h2) {
        color: white;
        margin-bottom: 1em;
    }

    :global(p) {
        color: white;
        margin-bottom: 1em;
    }
}

.commercialLogo {
    max-width: 100%;
    height: auto;
    filter: brightness(0) invert(1);
    padding: $spacer;
    padding-top: 2 * $spacer;
    padding-bottom: 0;
}

.updatesActionList {
    padding-bottom: 2 * $spacer;
}

.updatesActionLink {
    color: $link-color;
    // font-weight: bold;
}

.updatesActionIcon {
    margin-right: $spacer * 0.5;
    margin-top: -0.1em;
}