@import './variables.scss';

.actionButtons {
    margin-top: -1 * $spacer;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */

    :global(.bsIcon) {
        margin-right: 10px;
    }
}

.offer {
    :global(.card-title) {
        text-align: center;
        font-weight: $heading-weight;
        font-size: 1.3em;
        margin-top: $spacer;
    }

    :global(.badge) {
        margin-top: $spacer;
        // margin-bottom: $spacer;

        :global(.num) {
            font-size: 1.4em;
        }
    }

    :global(.card-footer) {
        text-align: center;
    }
}


.neutralCard {
    background-color: $cyan-400;
    border: $cyan-500;
    color: $cyan-800;
    margin-bottom: 2 * $spacer;
    margin-top: 2 * $spacer;
    padding-bottom: 1rem;

    :global(.card-title.h5) {
        // text-align: left !important;
        color: $cyan-700;
        padding-bottom: $spacer;
    }

    a {
        color: $cyan-900;
        text-decoration: underline;

        &:hover {
            color: $cyan-700;
        }
    }
}
