@import './variables.scss';

.licenseBox {
    :global(.alert) {
        margin-top: 1em;
        background-color: $primary;
        font-size: 15px;

        @media print {
            background-color: $gray-200;
        }

        p {
            color: $white;

            @media print {
                color: $gray-800;
            }
        }
    }
}