@import './variables.scss';

.researchBar {
    @include bg-gradient;
    padding-top: $spacer * 3.5;
    padding-bottom: $spacer * 4;
    color: $inverse-color;

    h2 {
        margin-top: 0;
        margin-bottom: $spacer;
        color: $inverse-color;
    }

    // input[type=search] {
    //     border: 0;
    // }

    input, select {
        border: 0;
    }

    p, li {
        a {
            color: $inverse-link-color;
            text-decoration: underline;
        }

        a:hover {
            color: $inverse-link-hover-color !important;
        }
    }
}

.researchContent {
    margin-top: 2em !important;
}

.advancedForm {
    margin-top: $spacer * 3;
    margin-bottom: -2 * $spacer;
}

.advancedResults {
    margin-top: $spacer;
}

.advancedResultCard {
    margin-bottom: $spacer;
    // break-inside: avoid;
}

.advancedCardTitle {
    font-weight: $heading-weight;
}

.advancedCardSourcing {
    margin-top: -0.5 * $spacer;
    @include sub-title;
    font-size: 0.7em;
}

.advancedResultScore {
    float: right;
}

.featureName {
    color: $text-muted;
    font-size: 0.8em;
}

.scoreExplanation {
    @include sub-title;
    font-size: 0.7em;
}

.advancedCardTable {
    margin-top: $spacer;
    min-width: 100%;
    break-inside: avoid;
}

.advancedCardTableHeader {
    width: 25% !important;
    padding-left: 0 !important;
}

.advancedCardTableFirst {
    padding-left: 0 !important;
    width: 30%
}

.advancedNoResult {
    margin-top: $spacer;
    break-inside: avoid;
}

.advancedNotice {
    margin-top: $spacer;
    color: $text-muted;
    font-size: 0.9em;
    //text-align: right;
}

.apiCodeSample {
    padding: $spacer;
    margin: 0;
    border-radius: $spacer;
    background-color: $gray-100;
}

.subregionCell {
    padding-left: 1em !important;
}

.territoryCell {
    padding-left: 2em !important;
}
