name: build-image

on:
  workflow_dispatch: {}
  schedule:
    - cron: "15 8 * * 1"
  push: {}
  pull_request: {}

permissions:
  contents: read

jobs:
  docker:
    if: |
      (github.event_name == 'push' || github.event_name == 'workflow_dispatch') &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set env
        run: echo "BUILD_TIME=$(date +%s)" >> $GITHUB_ENV
      - name: Set build date
        run: echo "BUILD_TIME=$(date +%Y%m%d)" >> $GITHUB_ENV
      - uses: actions/checkout@v6
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/opensanctions/everypolitician
          tags: |
            type=ref,event=branch
            type=raw,value=${{ github.ref == 'refs/heads/main' && 'prod' || 'test' }}
            type=raw,value=latest
      - name: Set build date
        run: echo "BUILD_DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push a docker image
        id: build
        uses: docker/build-push-action@v6
        env:
          API_TOKEN: ${{ github.ref == 'refs/heads/main' && secrets.EVERYPOLITICIAN_PROD_API_KEY || secrets.EVERYPOLITICIAN_TEST_API_KEY }}
          BUILDKIT_PROGRESS: plain
          BUILD_DATE: ${{ env.BUILD_DATE }}
          BUILD_TIME: ${{ env.BUILD_TIME }}
        with:
          context: .
          platforms: linux/amd64
          secrets: |
            "api_token=${{ github.ref == 'refs/heads/main' && secrets.EVERYPOLITICIAN_PROD_API_KEY || secrets.EVERYPOLITICIAN_TEST_API_KEY }}"
          build-args: |
            BUILD_DATE=${{ env.BUILD_DATE }}
            NEXT_PUBLIC_API_URL=https://api.${{ github.ref == 'refs/heads/main' && 'opensanctions.org' || 'test.opensanctions.org' }}
            NEXT_PUBLIC_BUILD_TIME=${{ env.BUILD_TIME }}
          pull: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Ping betterstack to report a everypolitician build
        run: exit 1 # curl https://uptime.betterstack.com/api/v1/heartbeat/

  dispatch:
    if: |
      (github.event_name == 'push' || github.event_name == 'workflow_dispatch') &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    runs-on: ubuntu-latest
    needs: [docker]
    steps:
      - name: Dispatch add-on build
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f  # v3
        with:
          token: ${{ secrets.OPERATIONS_PAT }}
          repository: opensanctions/operations
          event-type: release-everypolitician
          client-payload: |-
            {
              "environment": "${{ github.ref == 'refs/heads/main' && 'prod' || 'test' }}",
              "image_version": "@${{ needs.docker.outputs.digest }}"
            }
