name: build-image

on:
  workflow_dispatch: {}
  schedule:
    - cron: "15 8 * * 1"
  push: {}
  pull_request: {}

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  id-token: write
  packages: write

jobs:
  # Builds a docker image (which also runs type checks) but does not push
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set build time
        run: echo "BUILD_TIME=$(date +%s)" >> $GITHUB_ENV
      - name: Set build date
        run: echo "BUILD_DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - name: Build a docker image
        id: build
        uses: docker/build-push-action@v6
        env:
          API_TOKEN: ${{ secrets.EVERYPOLITICIAN_TEST_API_KEY }}
          BUILDKIT_PROGRESS: plain
          BUILD_DATE: ${{ env.BUILD_DATE }}
          BUILD_TIME: ${{ env.BUILD_TIME }}
        with:
          context: .
          platforms: linux/amd64
          secrets: |
            "api_token=${{ secrets.EVERYPOLITICIAN_TEST_API_KEY }}"
          build-args: |
            BUILD_DATE=${{ env.BUILD_DATE }}
            NEXT_PUBLIC_API_URL=https://api.test.opensanctions.org
          pull: true
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

  docker-build-and-develop:
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - name: Set build time
        run: echo "BUILD_TIME=$(date +%s)" >> $GITHUB_ENV
      - name: Set build date
        run: echo "BUILD_DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
      - uses: actions/checkout@v6
        with:
          ref: deploy/test
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: europe-west3-docker.pkg.dev/opensanctions-ops/opensanctions/everypolitician
          tags: |
            type=ref,event=branch
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - id: auth
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v3
        with:
          token_format: access_token
          workload_identity_provider: projects/783058060410/locations/global/workloadIdentityPools/opensanctions-operations-github/providers/github
          service_account: operations-github@opensanctions-ops.iam.gserviceaccount.com
          access_token_lifetime: 600s
      - name: Login to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: europe-west3-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}
      - name: Build a docker image
        id: build
        uses: docker/build-push-action@v6
        env:
          API_TOKEN: ${{ secrets.EVERYPOLITICIAN_TEST_API_KEY }}
          BUILDKIT_PROGRESS: plain
          BUILD_DATE: ${{ env.BUILD_DATE }}
          BUILD_TIME: ${{ env.BUILD_TIME }}
        with:
          context: .
          platforms: linux/amd64
          secrets: |
            "api_token=${{ secrets.EVERYPOLITICIAN_TEST_API_KEY }}"
          build-args: |
            BUILD_DATE=${{ env.BUILD_DATE }}
            NEXT_PUBLIC_API_URL=https://api.test.opensanctions.org
            NEXT_PUBLIC_BUILD_TIME=${{ env.BUILD_TIME }}
          pull: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Deploy to everypolitician-test
        uses: 'google-github-actions/deploy-cloudrun@v3'
        with:
          region: europe-west3
          service: 'everypolitician-test'
          image: 'europe-west3-docker.pkg.dev/opensanctions-ops/opensanctions/everypolitician:test'

  docker-build-and-main:
    if: github.ref == 'refs/heads/deploy/prod' || github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - name: Set env
        run: echo "BUILD_TIME=$(date +%s)" >> $GITHUB_ENV
      - name: Set build date
        run: echo "BUILD_TIME=$(date +%Y%m%d)" >> $GITHUB_ENV
      - uses: actions/checkout@v6
        with:
          ref: deploy/prod
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: europe-west3-docker.pkg.dev/opensanctions-ops/opensanctions/everypolitician
          tags: |
            type=ref,event=branch
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - id: auth
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v3
        with:
          token_format: access_token
          workload_identity_provider: projects/783058060410/locations/global/workloadIdentityPools/opensanctions-operations-github/providers/github
          service_account: operations-github@opensanctions-ops.iam.gserviceaccount.com
          access_token_lifetime: 600s
      - name: Login to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: europe-west3-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}
      - name: Build a docker image
        uses: docker/build-push-action@v6
        env:
          API_TOKEN: ${{ secrets.EVERYPOLITICIAN_PROD_API_KEY }}
          BUILDKIT_PROGRESS: plain
          BUILD_DATE: ${{ env.BUILD_DATE }}
          BUILD_TIME: ${{ env.BUILD_TIME }}
        with:
          context: .
          platforms: linux/amd64
          secrets: |
            "api_token=${{ secrets.EVERYPOLITICIAN_PROD_API_KEY }}"
          build-args: |
            BUILD_DATE=${{ env.BUILD_DATE }}
            NEXT_PUBLIC_API_URL=https://api.opensanctions.org
            NEXT_PUBLIC_BUILD_TIME=${{ env.BUILD_TIME }}
          pull: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Deploy to everypolitician-prod
        uses: 'google-github-actions/deploy-cloudrun@v3'
        with:
          region: europe-west3
          service: 'everypolitician-prod'
          image: 'europe-west3-docker.pkg.dev/opensanctions-ops/opensanctions/everypolitician:main'
      - name: Ping betterstack to report a everypolitician build
        run: exit 1 # curl https://uptime.betterstack.com/api/v1/heartbeat/
